# Preparing Data

We take the data from <url>https://en.wikipedia.org/wiki/List_of_post_codes_of_Canada:_M</url> and upload it into the dataframe. Then, we clean and format the data in accordance with the instructions in the homework.

***First of all, we take the data from the web page and load it into the dataframe.***

In [1]:
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
dfs=pd.read_html(url)
df=dfs[0]
df.rename(columns={"Postal Code":"PostalCode"},inplace=True)
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

***Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.***

In [2]:
df=df[df["Borough"]!="Not assigned"]
df=df.reset_index(drop=True)
df.head()

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

***The next steps are not necessary because the data is already organized this way, but I am writing to show how.***

Groupby  "Postal Code" and combine Neighbourhood value with comma.

In [3]:
tmp_df=df.groupby("PostalCode")["Neighbourhood"].apply(lambda x:"%s" % ", ".join(x))
tmp_df=tmp_df.reset_index(drop=False)
tmp_df.rename(columns={"Neighbourhood":"Neighbourhood_jn"},inplace=True)
df_merge=pd.merge(df,tmp_df,on="PostalCode")
df_merge.drop(["Neighbourhood"],axis=1, inplace=True)
df_merge.drop_duplicates(inplace=True)
df_merge.rename(columns={"Neighbourhood_jn":"Neighbourhood"},inplace=True)
df=df_merge
df.head()

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [4]:
df[df['Neighbourhood']=='Not assigned']["Neighbourhood"]=df["Borough"]

In [5]:
df.shape

(103, 3)